<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Scan Scrapper</title>
  </head>
  <body>
    Lien: <input id="link"/><button type="button" id="btn">Chargé le lien</button>
    <p>👋</p>
    <p  id="response"></p>
    <script src="../scripts/renderer.js"></script>
  </body>
</html>