<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- TODO fix le path du site
      <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self'; img-src https://i2.wp.com/sushiscan.su"
      />
    -->
    <link rel="stylesheet" type="text/css" href="./ressources/stylesheet.css"> 
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Scan Scrapper</title>
  </head>
  <body>
    <div>
      <p><h4>Support des liens : </h4>[https://]sushiscan.su[/manga]/NomDuManga[/]</p>
      <p>Les elements [] sont optionnels</p>
    </div>
    Lien: <input id="link"/><button type="button" id="btn">Scrap le manga</button>
    <div id="response"></div>
    <script src="../scripts/renderer.js"></script>
  </body>
</html>